html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, 
small, strike, strong,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	font-family: 'Oswald',impact, helvetica, arial, sans serif;
	width: 100%;
	background-image: url('../img/fdo-sec-b.png');
	
}





.img-fdo {
	position: relative;
	z-index: -100;
	min-width: 100%;
	box-shadow: 0px 14px 10px -10px #777;
	margin-bottom: 1.5em;
	
}



.logotipo-signo {
	color: #000;
	background-color: #fff;
	padding: 1px 10px;
	border-radius: 5px;
	font-size: 2em;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	
	
}

.header {



	
}

.logotipo-nombre {
	font-size: 1.7em;
	margin-top: .3em;
}
.logotipo-leyenda {
	font-size: 1.2em;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 600;
	font-style: oblique;
}

.caja-sombra
{

    position: relative;
    float: left;
    padding: .4em;
   
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.caja-sombra:before, .caja-sombra:after
{
    content: "";
    position: absolute;
    z-index: -2;
}

.caja-sombra:before
{

    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.caja-sombra:after
{

    bottom: 15px;
    width: 50%;
    height: 20%;
    right: 10px;
    left: auto;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}


.logotipo {
	background-color: #000;
	padding: 10px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 1em;
    left: 0;
	
}

.servicios {
	
	color: #2A2A2A;
	text-align: center;
	margin-bottom: 4em;
}

.flex {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	 -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
	margin-top: .5em;
}

.ancho {
	width: 15%
}

.servicios__h1 {
	font-size: 2em;
	margin-bottom: .2em;
}

.servicios__p {
	font-size: 2em;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	text-align: left;
	margin-bottom: .5em;
}

.footer {
	background-color: #000;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	
}
.footer__p {
	padding: 1em .2em;
}

.form {
	position: absolute;
	right: 2em;
	top: 12em;
	
} 

.sc-internet  {
	background-image:url('../img/logo-int-gde.png'), url('../img/fdo-sec-n.png');
	background-position:0 0; 
	background-repeat: no-repeat, repeat;
	color: #fff;
	padding: 4em;	
}

.sc-identidad  {
	background-image:url('../img/logo-id-gde.png'), url('../img/fdo-sec-b.png');
	background-position:right top; 
	background-repeat: no-repeat;
	z-index: 20;
	
	padding: 4em;	
}

.sc-militancia {
	background-image:url('../img/logo-mili-gde.png'), url('../img/fdo-sec-b.png');
	background-position:right top; 
	background-repeat: no-repeat;
	z-index: 20;
	
	padding: 4em;	
}

.img-idt {
	opacity: .5;
	z-index: -10;
}

.q-s {
	background-image:url('../img/logo-qs-gde.png'), url('../img/fdo-sec-n.png');
	background-position:0 0; 
	background-repeat: no-repeat, repeat;
	color: #fff;
	padding: 4em;	

}



/* .fdo-b {

	background-image: url('../img/fdo-sec-b.png');	
	padding: 4em;	
} */


.sction-n {
	width: 30%;
	font-size: 2.5em;
	margin-bottom: 1em;
	border-bottom: 2px solid #fff;
	text-shadow: 1px 1px 1px #7d7d7d;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	
}

.sction-b {
	width: 30%;
	font-size: 2.5em;
	margin-bottom: 1em;
	border-bottom: 2px solid #000;
	text-shadow: 1px 1px 1px #7d7d7d;
	margin-left: auto;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	
	
}

.etapas {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1em;
	margin-bottom: 8em;
	
}

.etapas__art {
	background-image: url('../img/fdo-sec-n.png');
	padding: 1em;
	 box-shadow: 0px 14px 10px -10px #777;
	 color: #fff;
	 border-radius: 10px;
	 width: 25%;
}

.etapas__ul {
	list-style: none;
}

.etapas__li {
	margin-bottom: 1em;
}

.etapas__h2 {
	font-family: 'Oswald',impact, helvetica, arial, sans serif;
	margin-bottom: 1.5em;
	border-bottom: 2px solid #fff;
	
}

.lign-cen {
	text-align: center;
}

.lign-der {
	text-align: right;
}
.sin-bor {
	border-bottom: 0;
	
}

.column {
	flex-direction: column;	
}

.marg-cent {
	margin: 1em auto 3em  auto;
	width: 100%;
	background-color: #000;
	color: #fff;

}

.marg-bot {
	margin-bottom: 1em;
}

.ultimos-titl {
	font-size: 2.5em;
	text-align: center;
	padding: 5px;
	background-image: url('../img/fdo-sec-n.png');
	color: #fff;
	margin-bottom: 2em;
	font-family: 'Droid Sans', sans-serif;
}

.ancho-menu {
	width: 7.5em;
}

.line {
	line-height: 1.2
}
.line-m {
	line-height: 1.2
}

.frase {
	font-size: 2.5em;
	font-family: 'Droid Sans', sans-serif;
	font-style: oblique;
	text-align: center;
	margin-bottom: 3em;
	color: #666;
}

.subir {
	position: fixed;
	bottom: 0;
	right: 0;
	color: #fff;
	background-color: #000;
	padding: 3px;
	border-radius: 3px;
}

.link-q-s {
	font-size: 1em;
	color: #fff;
	text-decoration: none;
}

.link-q-s:hover {
	text-decoration: underline;
}

.img-idt {
	position:absolute ;
	left: 4em;
	top: 2em;
	opacity: .5;
}

.form-uno {
	border: 2px solid #000;
}

.form-uno-butt {
	background-color: #000;
	color: #fff;
}